<!DOCTYPE html>
<html>
<head>
  <title>Home Automated System</title>
  <script src="static/js/jquery-2.2.0.min.js"></script>
  <script>
    $(document).ready(function() {
      $("#PiShutdown, #PiReboot").click(function(e) {
        e.preventDefault();
        var Pi_value = $(this).val();
        $.post("", {"command":"Pi", "value":Pi_value}, function(data) {
            //alert("after heating post");
        });
      });
      $("#ArdReset").click(function(e) {
        e.preventDefault();
        var Arduino_value = $(this).val();
        $.post("", {"command":"Arduino", "value":Arduino_value}, function(data) {
            //alert("after heating post");
        });
      });
    });
</script>
</head>  
<body>
<div align="center"> 
<h1>Home Automated System</h1>
Home Automated system Project Home Page - coming soon!<br>
<p></p>
<form>
  <button id="PiReboot" name="Pi" value="Reboot">Reboot System</button>
  <button id="PiShutdown" name="Pi" value="Shutdown">Safely Shutdown System</button><br>
  <p></p>
  <button id="ArdReset" name="Arduino" value="Reset">Reset Slave Unit</button>
</form>
<p></p>
<a href="/test">Test Page</a><br>
<a href="/isaac">Isaac's Page</a><br>
<a href="/glenmorangie"> Stevie's Automated Whisky dispenser test page</a><br>
</div>
</body>
</html>
